* {
    font-family: "Roboto", sans-serif;
  }
  .fitness{
    color: black;
    text-decoration: none;
  }
  .logo {
    margin: 20px;
    padding: 20px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  }
  
  .itens {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap-reverse;
    position: relative;
    top: -80px;
    font-size: 18px;
  }
  
  .button-sign {
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.25));
  }
  
  .button-sign:hover {
    opacity: 0.8;
  }
  
  .button-sign:active {
    opacity: 0.5;
  }
  
  .frase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    font-size: 25px;
    position: absolute;
    width: 560px;
    height: 579px;
    left: 318px;
    top: 159px;
    filter: drop-shadow(9px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .texto {
    position: absolute;
    width: 419px;
    height: 141px;
    left: 319px;
    top: 360px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130.69%;
    color: #000000;
  }
  
  .button-sign2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    gap: 10px;
    position: absolute;
    left: 319px;
    top: 480px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    filter: drop-shadow(9px 8px 4px rgba(0, 0, 0, 0.25));
  }
  
  .button-sign2:hover {
    opacity: 0.8;
  }
  
  .button-sign2:active {
    opacity: 0.5;
  }
  
  .pessoa-img {
    position: absolute;
    width: 413.33px;
    height: 620px;
    left: 800px;
    top: 100px;
  }
  
  .vetor {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 70px;
    top: 384px;
  }
  .inscrição{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
  }
  .img-pessoas{
    width: 200px;
  }
  .frase-formulario{
    color: rgb(73, 73, 163);
  }
  .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 30px;
  }
  label{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    flex-direction: row;
    
  }
  input{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    background: #FAFAFC;
    border: 1px solid #a9a9b1;
    border-radius: 8px;
  }
  textarea{
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    background: #FAFAFC;
    border: 1px solid #a9a9b1;
    border-radius: 8px;
  }
  .enviar{
    border: none;
    width: 303px;
    height: 50px;
    border-radius: 15px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    align-items: center;
  }
  .container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    gap: 30px;
    
  }
  
  .button-contato{
    border: none;
    width: 303px;
    height: 50px;
    border-radius: 15px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    align-items: center;
  }
  
  @media (max-width: 320px) {
    .pessoa-img{
      position: relative;
      top: -580px;
      left: 300px;
    }
    .vetor{
      display: none;
    }
    .frase{
      position: relative;
      top: -100px;
      left: 300px;
    }
    .texto{
      position: relative;
      top: -480px;
      left: 50px;
      width: 300px;
    }
    .button-sign2{
      position: relative;
      top: -500px;
      left: 50px;
      text-decoration: none;
    }
    .itens{
      position: relative;
      top: -180px;
      left: 100px;
      gap: 50px;
    }
    .button-sign{
      position: relative;
      top: 130px;
      left: 10px;
      text-decoration: none;
    }
  }
  @media (max-width: 375px){
    .pessoa-img{
      position: relative;
      top: -690px;
      left: 10px;
    }
    .vetor{
      display: none;
    }
    .frase{
      position: relative;
      top: -100px;
      left: 50px;
    }
    .texto{
      position: relative;
      top: -480px;
      left: 50px;
      width: 300px;
    }
    .button-sign2{
      position: relative;
      top: -500px;
      left: 50px;
      text-decoration: none;
    }
    .itens{
      position: relative;
      top: -85px;
      left: 190px;
      gap: 10px;
    }
    .button-sign{
      position: relative;
      top: 40px;
      left: -140px;
      text-decoration: none;
    }
  }
  @media(max-width: 425px){
    .pessoa-img{
      position: relative;
      top: -400px;
      left: -10px;
    }
    .vetor{
      display: none;
    }
    .frase{
      position: relative;
      top: -10px;
      left: 50px;
    }
    .texto{
      position: relative;
      top: -390px;
      left: 50px;
      width: 300px;
    }
    .button-sign2{
      position: relative;
      top: -400px;
      left: 50px;
      text-decoration: none;
    }
    .itens{
      position: relative;
      top: -85px;
      left: 130px;
      gap: 10px;
    }
    .button-sign{
      position: relative;
      top: 40px;
      left: -140px;
      text-decoration: none;
    }
  }
  